.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vh;
  width: 120%;
  padding: 0;
  margin-left: -10%;
  margin-top: -2%;
  padding-top: 0;
  background-image: url("../../image/job-5382501_1920.jpg");
  background-size: cover;
  background-position: center;
}

#quickinfo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 5vh;
  @media (max-width: 678px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 678px) {
    justify-content: flex-start;
    min-width: 30vw;
    padding: 0px 48px 0 48px;
  }
}

.story {
  display: flex;
  flex-direction: column;
}
.story-block {
  display: flex;
  flex-direction: column;
  padding: 64px;
}

br.spaced {
  display: block;
  margin-bottom: 24px;
}

#contact-hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vh;
  width: 120%;
  padding: 0;
  margin-left: -10%;
  margin-top: -2%;
  padding-top: 0;
  background-image: url("../../image/call.png");
  background-size: cover;
  background-position: center;
}

#contact-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 4rem 0;

  @media (max-width:768) {
    padding: 2rem 48px 4rem 48px;
  }

    .content-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: flex-start;
        padding-top: 2rem;

        @media (max-width: 768px) {
          flex-wrap: wrap;
          gap: 1rem;
          align-items: flex-start;
        }

        #social-media {
          align-self: flex-end;
           @media (max-width: 768px) {
            width: 45%;
        }
      }
    }

    .content-column {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap: 2rem;
        text-wrap: wrap;

        @media (max-width: 768px) {
          text-wrap: wrap;
          word-break:break-all;
          width: 45%;
        }
    }
  }



