.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 50vh;
  width: 120%;
  padding: 0;
  margin-left: -10%;
  margin-top: -1%;
  padding-top: 0;
  background-image: url("../../image/job-5382501_1920.jpg");
  background-size: cover;
  background-position: center;
}

#quickinfo {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding-top: 6vh;
  width: 100%;
  @media (max-width: 678px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  @media (min-width: 2560px) {
    display: flex;
    max-width: 60vw;
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

.info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 678px) {
    justify-content: flex-start;
    min-width: 30vw;
    padding: 0px 48px 0 48px;
  }
}

.story-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 64px 0;
  width: 100%;
  @media (max-width: 678px) {
    padding: 64px 0px 24px 0px;
  }
  @media (min-width: 2560px) {
    display: flex;
    max-width: 60vw;
    justify-content: center;
    justify-content: space-between;
    margin: 0 auto;
  }
}

p + p {
  margin-top: 20px;
}

#contact-hero {
  height: 50vh;
  width: 100%;
  margin-top: -1%;
  background-image: url("../../image/call.png");
  background-size: cover;
  background-position: center;
}

#contact-section {
  display: flex;
  flex-direction: column;
  padding: 2rem 0 4rem 0;


  .content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 2rem;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      gap: 1rem;
      align-items: flex-start;
    }

    #social-media {
      align-self: flex-end;
      @media (max-width: 768px) {
        width: 45%;
      }
    }
  }

  .content-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    text-wrap: wrap;

    @media (max-width: 768px) {
      text-wrap: wrap;
      word-break: break-all;
      width: 45%;
    }
  }
}
