#meet-the-team {
  text-align: center;

  .team-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.5rem;
    margin: 0 auto;

    .person-card {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 11px;

      .image-container {
        position: relative;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .text-container {
        display: flex;
        flex-direction: column;
      }
    }

    // Responsiva breakpoints
    @media (max-width: 900px) {
      .team-grid .person-card {
        grid-column: span 4; // 3 per rad
      }
    }

    @media (max-width: 600px) {
      .team-grid .person-card {
        grid-column: span 6; // 2 per rad
      }
    }

    @media (max-width: 400px) {
      .team-grid .person-card {
        grid-column: span 12; // 1 per rad
      }
    }
  }
}
