#meet-the-team {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 100px, 0px, 50px, 0px;

  .team-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 35px;
    margin: 0 auto;

    .person-card {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 11px;

      .image-container {
        position: relative;

        img {
          width: 100%;
          height: auto;
          display: block;
        }
      }
      .text-container {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
